/**
 * Custom styles to immediately follow Tailwind’s `base` layer
 */

/**
 * This uses the background and foreground colors declared in the `theme.json`
 * file and is applied both to the front end and in the block editor.
 */
 @custom-variant dark (&:where(.dark, .dark *));

body {
	@apply bg-background text-foreground font-display;
}

.bg-light {
    background-color: #ffffff; /* Light mode background */
}

.bg-dark {
    background-color: #111827; /* Dark mode background */
}


:root :where(.wp-element-button, .wp-block-button__link) {
	background-color: var(--color-primary);
	border-width: 0;
	color: var(--color-background);
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	padding: calc(0.667em + 2px) calc(1.333em + 2px);
	text-decoration: none;
}

.home-block .wp-block-button__link {
	@apply bg-primary text-[24px] rounded-full text-white hover:bg-secondary transition-all duration-300 px-12 py-1 inline-block;
}
.home-block h5 {
	@apply text-[#3E3B3B] dark:text-white;
}

.home-block p {
	@apply leading-[36px] pb-12;
}